---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Machine Learning for Mexico</h2>
										<!-- <span class="byline">&hellip; a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) &ndash; just give us credit!</span> -->
										<span class="byline">Machine Learning for Mexico, #ML4MX, is a group of Mexicans who are working towards the use of Machine Learning tools and reliable Datasets to create better living conditions in Mexico.</span>
									</header>

									<a href="#" class="button alt">Join Us</a>

								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Mission, Vision and Objects of #ML4MX</h2>
						<!-- <span class="byline">Mauris vulputate dolor sit amet nibh</span> -->
						<span class="byline"> </span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/mission/v01.png" alt=""></a>
							<p>MISSION: Promote the interaction of Mexicans in Europe in the area of Machine Learning in order
								to develop projects between academia and industry for the society and Mexican government. </p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/vision/v01.png" alt=""></a>
							<p>VISION: Create global synergies between academic and govermental insittutions, industry
								 and society to solve hight impact problems in Mexico.</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/objects/v01.png" alt=""></a>
							<p>OBJECTIVES: Identify problems in Mexico with reliable datasets that can be solved with the application
								of techniques of Machine Learning.</p>
						</section>

					</div>
				</section>

				<!-- Youtube Video -->
				<section class="container">
					<header class="major">
						<h2> #ML4MX: Para y Por México </h2>
						<!-- <span class="byline">Mauris vulputate dolor sit amet nibh</span> -->
						<span class="byline"> </span>
					</header>
					<div class="row no-collapse-1">

					<!-- <iframe width="420" height="315" src="http://www.youtube.com/embed/CuzXaE7Wkd8"></iframe> -->
					<!-- <iframe width="420" height="315" src="http://www.youtube.com/embed/CuzXaE7Wkd8" frameborder="0" allowfullscreen></iframe> -->

					<!-- HTML5 -->
					<!-- <object style="width:100%;height:100%;width: 820px; height: 461.25px; float: none; clear: both; margin: 2px auto;" data="http://www.youtube.com/embed/CuzXaE7Wkd8"> </object> -->

					<!-- without an iFrame: -->
					<!-- <div style="width:100%;height:100%;width: 820px; height: 461.25px; float: none; clear: both; margin: 2px auto;">
  				<embed src="http://www.youtube.com/embed/CuzXaE7Wkd8?version=3&amp;hl=en_US&amp;rel=0&amp;autohide=1&amp;autoplay=1" wmode="transparent" type="application/x-shockwave-flash" width="100%" height="100%" allowfullscreen="true" title="Adobe Flash Player">
					</div> -->

					<p align="center">
					<iframe width="853" height="505" src="https://www.youtube.com/embed/CuzXaE7Wkd8?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
				  </p>

					</div>
				</section>


			</div>



	{{ content }}
