---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Machine Learning for Mexico</h2>
										<!-- <span class="byline">&hellip; a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) &ndash; just give us credit!</span> -->
										<span class="byline">Machine Learning for Mexico, #ML4MX, is a group of Mexicans who are working towards the use of Machine Learning tools and reliable Datasets to create better living conditions in Mexico.</span>
									</header>

									<a href="#" class="button alt">Join Us</a>

								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Mission, Vision and Objects of #ML4MX</h2>
						<!-- <span class="byline">Mauris vulputate dolor sit amet nibh</span> -->
						<span class="byline"> </span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/mission/v01.png" alt=""></a>
							<p>MISSION: Promote the interaction of Mexicans in Europe in the area of Machine Learning in order
								to develop projects between academia and industry for the society and Mexican government. </p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/vision/v00.png" alt=""></a>
							<p>VISION: Create global synergies between academic and govermental insittutions, industry
								 and society to solve hight impact problems in Mexico.</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/objects/v00.png" alt=""></a>
							<p>OBJECTIVES: Identify problems in Mexico with reliable datasets that can be solved with the application
								of techniques of Machine Learning.</p>
						</section>

					</div>
				</section>
			</div>

	{{ content }}
